* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
red {
  color: #F53F00;
}
.modal_adicionar_produto #input_file_xml{
  display: none;
}
.modal_adicionar_produto #input_file_label{
  background: #242424;
  width: 35%;
  text-align: center;
  color: white;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: end;
  background: #242424;
  height: 10%;
  width: 100%;
  align-items: center;
  padding: 0 5%;
  position: relative;
  z-index: 97;
}
body,
html {
  height: 100%;
}
.modal {
  z-index: 99 !important;
}
#data_fechamento_funcionario {
  height: 40px;
  padding: 0 10px;
  color: #F53F00;
  width: auto;
}

.modal_produtos {
  width: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background: white;
  height: 500px;
  border-radius: 12px;
  display: none;
  z-index: 3;
  padding-bottom: 5%;
  flex-direction: column;
  justify-content: space-between;
}
fundo {
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.54);
  justify-content: center;
  align-items: center;
}
.modal_adicionar_produto {
  width: 70%;
  height: auto;
  background: white;
  position: absolute;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  padding: 2%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
.modal_adicionar_produto .first_input_row {
  display: flex;
  justify-content: space-between;
}
.modal_adicionar_produto .inputs label {
  color: #e60d2e;
  padding-left: 5px;
}
.modal_anotar_pedido .input_select {
  display: flex;
  flex-direction: column;
  width: 36%;
}
#sidebar #caixa_remover {
  display: none;
}
.modal_anotar_pedido .input_select select {
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  width: auto;
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
#numero_cliente_input {
  border-radius: 12px;
  border: 1px solid #F53F00;
  height: 40px;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 170px;
}
#father_add_produto_button{
  display: flex;
  flex-direction: row;

}
.pesquisar_venda div{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pesquisar_venda div input{
  width: 135px;
  height: 40px;
  border-radius: 5px;
  padding: 0 5px;

  border: 1px solid #c2c2c2;
}
.saving_products{
  display: flex;
  position: absolute;
  z-index: 99;
  background: white;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 200px;
  width: 400px;
  align-items: center;
  flex-direction: column;
}
.warning_add_produto {
  width: 50%;
  color: red;
  font-size: 16px;
  font-weight: 500;
}
.pesquisar_venda {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.saving_header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.progress_saving_bar {
  background: #242424;
  border-radius: 10px;
  margin-top: 10%;
  height: 20px;
  width: 200px;
}
.progress_saving{
  background: #F53F00;
  height: 100%;
  width: 88%;
  border-radius: 10px;
}
@keyframes loading {
  0%{
    transform: rotate(0deg);
    border-radius: 50%;
  }
  100%{
    transform: rotate(360deg);
    border-radius: 45%;
  }
}
.loading_saving_products{
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background: none;
  border-right: 3px solid #F53F00;
  border-left: 3px solid #F53F00;
  border-top: 3px solid #242424;
  border-bottom: 3px solid #242424;
  animation: 0.7s loading infinite;
}
#colaborador_input {
  border-radius: 12px;
  border: 1px solid #F53F00;
  height: 40px;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 170px;
}
#before_button_add{
  display: none;
}
#caixa_ser_fechado {
  background: white;
  font-size: 20px;
  border: none;
  color: #F53F00;
  font-weight: 500;
}
.modal_adicionar_produto .inputs input[type="text"] {
  border-radius: 11px;
  border: 1px solid #777;
  background: #fff;
  height: 40px;
  padding: 5px;
  color: gray;
  margin-top: 5px;
  width: 90%;
}
.trash_inactive {
  color: black;

  font-size: 10px;
}
.trash_activated {
  color: #e60d2e;

  font-size: 10px;
}
#notification {
  display: none;
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: 0%;
  left: 0px;
  background: white;
  z-index: 8;
}
#notification i {
  float: right;
  width: 100%;
  text-align: right;
  color: white;
  background: #F53F00;
  border-radius: 0 10px 0 0;
  padding: 2px 5px;
  cursor: pointer;
}
#notification section {
  height: 85%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#notification span {
  font-size: 13px;
  border-bottom: 1px dotted;
  padding: 0 10px;
  margin: 10px;
  display: block;
  cursor: pointer;
}
.modal_adicionar_produto .inputs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 3px;
}
.modal_adicionar_produto .inputs.input_codigo_produto_add {
  width: 58%;
}
.modal_adicionar_produto .inputs.input_nome_produto_add {
  width: 40%;
}
.modal_adicionar_produto #father_add_produto_button button {
  height: 40px;
  background: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
}
.modal_adicionar_produto .second_input_row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.modal_adicionar_produto .second_input_row .inputs {
  width: 28%;
}
.modal_adicionar_produto #finalziar_button_add {
  height: 40px;
  background: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
}
.modal_troco {
  display: none;
  width: 665px;
  height: 259px;
  background: rgba(230, 13, 46, 1);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal_sangria {
  display: none;
  width: 700px;
  height: 630px;
  background: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 0 3%;
}
.modal_pagamento {
  display: none;
  width: 700px;
  height: 480px;
  background: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 0 2%;
}
.prefix {
  border: none;
  height: 40px;
  width: 35px;
  border-radius: 10px 0 0 10px;
  color: #242424;
  font-size: 25px;
  font-weight: 400;
  padding: 5px;
  background: white;
  border-radius: 15p;
}

.inputs_pagamento_father input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #777;
  background: #fff;
  height: 35px;
  color: gray;
  padding: 0 10px;
}
.inputs_pagamento_father {
  color: #e60d2e;
  padding-left: 10px;
  font-size: 18px;
}
#whats_cliente_father {
  width: 45%;
}
.head_pagamento {
  margin-bottom: 15px;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.left_side_pagamento {
  width: 58%;
  height: 65%;
  border-right: 1px solid #a4a0a0;
}
.left_side_pagamento h3 {
  color: #e60d2e;
  font-size: 25px;
  font-weight: 300;
}
.left_side_pagamento .input_select {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0;
}
.finalizar_venda_button {
  color: rgb(253, 201, 24);
  background: #242424;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 18px;
  cursor: pointer;
}
.finalizar_venda_button_principal_father {
  display: flex;
  justify-content: center;
}
.finalizar_venda_button_principal {
  color: rgb(253, 201, 24);
  background: #242424;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
}
.input_select select {
  border-radius: 4px;
  border: 1px solid #424242;
  background: #fff;
  width: 90%;
  height: 40px;
  padding: 0 15px;
  font-size: 20px;
}
.body_part_pagamento {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.right_side_pagamento span {
  color: #777;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.right_side_pagamento h4 {
  color: #777;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.right_side_pagamento {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right_side_pagamento h3 {
  color: #e60d2e;
  font-size: 25px;
  font-weight: 300;
}
#valor_sangria {
  background: none;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: gray;
  font-size: 20px;
  width: 160px;
  text-align: left;
  font-weight: 400;
}
.input_valor_sangria {
  border: 1px solid #242424;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
.input_valor_sangria span {
  margin: 0 !important;
  font-size: 20px !important;
}
.motivo_sangria_text {
  color: gray;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}
#motivo_sangria {
  resize: none;
  border-radius: 10px;
  border: 1px solid gray;
  height: 220px;
  color: gray;
  padding: 5px;
}
.button_finalizar_father {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.finalizar_button {
  border: none;
  color: rgb(255, 255, 255);
  background: #242424;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.input_father {
  display: flex;
}
.modal_sangria h3 {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 400;
  color: rgba(66, 66, 66, 1);
}
.modal_sangria h3 strong {
  color: #e60d2e;
}
.second_row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.modal_sangria .first_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}
.input_father span {
  font-size: 18px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 400;
}
.input_father red {
  font-size: 20px;
}
.input_father {
  display: flex;
  flex-direction: column;
}
.modal_troco h3 {
  width: 100%;
  text-align: center;
  color: rgb(253, 201, 24);
  margin-top: 25px;
  font-size: 30px;
}
.inputs_troco_father {
  color: rgba(253, 201, 24, 1);
  display: flex;
  padding: 0 2%;
  justify-content: space-evenly;
  margin-top: 30px;
}
.input_troco {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}
.button_father {
  width: 100%;
  display: flex;
  justify-content: center;
}
.finalizar_venda {
  border: none;
  background: rgb(253, 201, 24);
  color: #242424;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
}
.input_money_father {
  display: flex;
  width: 145px;
}
.input_troco input {
  border: none;
  height: 40px;
  width: 110px;
  border-radius: 0 10px 10px 0;
  color: #242424;
  font-size: 25px;
  font-weight: 400;
  padding: 5px;
}
.right_side {
  display: flex;
  justify-content: space-between;

}
.right_side span {
  font-weight: 300;
  color: white;
}
.menu {
  color: rgba(253, 201, 24, 1);
  font-size: 20px;
  cursor: pointer;
}
.content {
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  padding-top: 5%;
  height: 90%;
  display: flex;
}
.content_left_side {
  height: 100%;
  width: 48%;
}
.input span {
  font-size: 20px;
  margin-left: 10px;
}
#quilometragem,#valor_mao_obra
{
  height: 40px;
  border: 1px solid #F53F00;
  border-radius: 12px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 170px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.codigo_produto_input {
  width: 70%;
  position: relative;
}
.codigo_produto_input input {
  width: 90%;
  border: none;
  border-radius: 12px;
}
.codigo_produto_input_mask {
  display: flex;
  border-radius: 12px;
  border: 1px solid #777;
  background: #fff;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: gray;
}
.desc_produto_input {
  width: 70%;
  position: relative;
}
#add_produto {
  height: 40px;
  background: #F53F00;
  color: yellow;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 15px;
}
.second_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_results {
  width: 600px;
  display: none;
  overflow-y: scroll;
  height: 200px;
  background: white;
  position: absolute;
  z-index: 1;
  max-width: 600px;
  bottom: -200px;
  display: none;
}
.modal_anotar_pedido .colaborador_father {
  flex-direction: row;
}
.input_endereco_cliente {
  visibility: hidden;
}
.modal_anotar_pedido #codigo_colaborador_input {
  height: 40px;
  border: 1px solid #F53F00;
  border-radius: 12px;
  padding: 5px;
  color: rgb(9, 7, 7);
  font-size: 18px;
  width: 170px;
}
#sidebar i {
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}
input#valor_entrada {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0 5px;
  width: 100px;
}
#sidebar .princip_span i {
  display: flex;
  color: #FF4100;
  font-size: 25px;

}
.open_sidebar_arrow{
  position: absolute;
  top: 15%;
  right: 35%;
  font-size: 22px;
  color: #FF4100;

}
@keyframes rodarSeta_FecharSidebar{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);

  }
}
#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  width: 7%;
  border-right: 2px solid #FF4100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 0;
  z-index: 2;
  align-items: center;
}
#sidebar .princip_span {
  width: 100%;
  text-align: center;
  color: #242424;
  font-weight: 400;
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #242424;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  position: relative;
}
.modal_anotar_pedido .subdivision {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.middle_row .input_father{
  margin-right: 20px;
}
.modal_anotar_pedido {
  display: none;
  width: 800px;
  background: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 20px 1.5%;
  justify-content: center;
  margin-top: 100px;
}
.middle_row {
  display: flex;
  justify-content: start;
  margin: 10px 0;
  align-items: center;
}
.chart_unic_father{
  width: 1000px;
  margin-right: 70px;
  border-left: 1px solid #9d9c9c;
  padding: 0 10px;
}
.modal_anotar_pedido table thead {
  border: 2px solid;
}
.modal_anotar_pedido table {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.modal_anotar_pedido table thead tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.modal_anotar_pedido table thead tr th {
  width: 25%;
}
.modal_anotar_pedido table tbody tr {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
}
.modal_anotar_pedido table tbody tr td input {
  text-align: center;
  width: 100%;
  border: none;
}
.orange_tr {
  border-left: 1px solid #F53F00;
} 
.modal_anotar_pedido input
{
  border: 1px solid black !important;
}
#select_caixa_add_usuario {
  background: none;
  border: none;
  color: #F53F00;
  font-weight: 500;
}
.modal_anotar_pedido table tbody tr td {
  width: 25%;
  border: 1px solid black;
  border-bottom: 0;
  border-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.remove_item_pedido {
  cursor: pointer;
}
.valor_caixa_father input[type="text"] {
  height: 40px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid gray;
  width: 100px;
}
.entrega_retirada_father {
  color: #000;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.entrega_retirada_father span {
  margin-right: 5px;
}
.modal_anotar_pedido input[type="datetime-local"] {
  color: rgb(0, 0, 0);
  height: 30px;
  width: 190px;
  margin-bottom: 30px;
}
.modal_anotar_pedido tbody {
  height: auto;
  overflow-y: scroll;

}
#nome_cliente_input {
  border-radius: 12px;
  border: 1px solid #F53F00;
  height: 40px;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 400px;
}
.input_cliente_vai_buscar {
  width: 80%;
}
.input_cliente_vai_buscar span {
  margin-right: 10px;
}
.input_nome_cliente input {
  width: 75%;
  border: none;
  border-bottom: 1px solid;
}
.modal_anotar_pedido .input_nome_cliente {
  justify-content: normal;
  height: 30px;
  width: 80%;
}

#adicionar_caixa {
  display: none;
  flex-direction: column;
}
#adicionar_caixa button {
  background: #F53F00;
  border: none;
  color: white;
  height: 30px;
  width: 25%;
  border-radius: 5px;
  margin: 8px 37.5%;
}
#adicionar_caixa input {
  height: 30px;
  text-align: center;
}
#adicionar_caixa input {
  height: 30px;
  text-align: center;
  border: 1px solid;
}
#adicionar_caixa span {
  color: black;
  font-size: 13px;
  background: #dfdfdf;
}
#form_equip {
  background: rgb(222, 222, 222);
  display: none;
}
#form_equip button {
  width: 30%;
  margin: 10px 35%;
  background: #F53F00;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
}
#form_equip input {
  width: 100%;
  text-align: center;
}
#select_caixa {
  height: 30px;
  text-align: center;
  background: white;
  border: none;
  color: #2e2c2c;
  border-bottom: 1px dotted;
  font-size: 17px;
}
#select_caixa::first-letter {
  text-transform: uppercase;
}

#sidebar .princip_span span{
  display: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.6px;

}
#abrir_lista_pedidos i {
  font-size: 12px;
}
.lista_pedidos {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 0;
  justify-content: stretch;
}
.search_results .resultado_pesquisa {
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 15px;
}
.search_results_by_barcode {
  display: none;
  overflow-y: scroll;
  width: 600px;
  height: 200px;
  background: white;
  position: absolute;
  z-index: 1;
  max-width: 600px;

  bottom: -200px;
  display: none;
}
.search_results_by_barcode .resultado_pesquisa_by_barcode {
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 15px;
}
.search_results_by_barcode .resultado_pesquisa_by_barcode:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.search_results .resultado_pesquisa:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.desc_produto_input input {
  width: 90%;
  border: none;
  border-radius: 12px;
}
.desc_produto_input_mask {
  display: flex;
  border-radius: 12px;
  border: 1px solid #777;
  background: #fff;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: gray;
}
.quantidade_produto_input {
  width: 15%;
}
.quantidade_produto_input input {
  height: 45px;
  border-radius: 12px;
  border: 1px solid #777;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
.inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.first_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#tabela_produtos {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 360px;
  overflow-y: scroll;
}
#tabela_produtos thead th {
  width: 25%;
  font-size: 13px;
  font-weight: 400;
}
#tabela_produtos tbody td {
  width: 25%;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  height: 40px;
  color: rgba(135, 135, 135, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: grid;
  align-items: center;
}
#tabela_produtos thead tr {
  display: flex;
  justify-content: space-around;
  background: rgba(230, 13, 46, 1);
  height: 60px;
  color: white;
  border-radius: 15px 15px 0 0;
  align-items: center;
}
#tabela_produtos tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.darker {
  background: rgba(241, 241, 241, 1);
}
#fazer_sangria {
  background: #242424;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
}
#blocked_fazer_sangria {
  background: rgb(76, 74, 74);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
}
.content_right_side {
  height: 87%;
  width: 48%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.valores {
  display: flex;
  justify-content: space-between;
}
.valor_father {
  display: flex;
  flex-direction: column;
}
.valor_father span {
  font-size: 20px;
}
.valor_father strong {
  font-size: 18px;
}
.venda_atual_box {
  height: 430px;
  border-radius: 22px;
  /* border: 1px solid #878787; */
  background: #fff;
}
.venda_atual_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  border-radius: 22px 22px 0 0;
  background: #F53F00;
}
.venda_atual_header h3 {
  color: rgba(253, 201, 24, 1);
}
.venda_atual_header h3 i {
  color: white;
}
.venda_atual_body {
  height: 88%;
  width: 100%;
  border-radius: 0 0 22px 22px;
  border: 1px solid #878787;
  padding: 15px;
}
.venda_atual_body red {
  font-weight: 500;
}
.horario_venda {
  color: rgba(112, 112, 112, 1);
  font-size: 13px;
}
.venda_preview {
  display: flex;
  flex-direction: column;
}
.venda_preview_title {
  margin-top: 5px;
  border-radius: 8px 8px 0px 0px;
  background: #fdc918;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  color: #e60d2e;
}
.venda_preview_bottom {
  border-radius: 0px 0px 8px 8px;
  background: #fdc918;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  margin: 5px 0;
  color: #e60d2e;
}
.venda_preview_body {
  font-size: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow-y: scroll;
}
.venda_atual_body thead th {
  width: 20%;
}
.venda_atual_body thead tr {
  display: flex;
  justify-content: space-around;
  background: rgba(119, 119, 119, 1);
  height: 15px;
  color: white;
  align-items: center;
}
.venda_atual_body tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.venda_atual_body tbody tr td {
  width: 20%;
  text-align: center;
  display: grid;
  align-items: center;
  height: 20px;
}
.venda_atual_body tbody tr td i {
  cursor: pointer;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    font-size: 16px;
  }
  50% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    font-size: 15px;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    font-size: 16px;
  }
}
@keyframes hysterical_pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    font-size: 16px;
  }
  50% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    font-size: 15px;
    background: rgba(208, 0, 0, 0.73);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    font-size: 16px;
  }
}
/*LOGIN*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.content_login {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content_login header span {
  width: 100%;
  text-align: center;
  color: gray;
}
.content_login header {
  color: white;
  font-size: 33px;
  font-weight: 400;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
  background: none;
}
.content_login header .yellow {
  color: #fdc918 !important;
}
.input_endereco_cliente {
  width: 60%;
}
#endereco_cliente_input {
  border-radius: 12px;
  border: 1px solid #F53F00;
  height: 40px;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 100%;
}
.pre_venda_father
{
  display: flex;
  flex-direction: column;
}
.modal_anotar_pedido .first_row{
  display: flex;
  flex-direction: column;
}
.endereco_cliente_father {
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.field span {
  color: #8a8686;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  color: gray;
}
.space {
  margin-top: 16px;
}
.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #edf301 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #edf301;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.pass-key:valid ~ .show {
  display: block;
}
.pass {
  text-align: left;
  margin: 10px 0;
}
.pass a {
  color: gray;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.pass:hover a {
  text-decoration: underline;
}
.modal_fechar_caixa #mostrar {
  margin: 0 5%;
  font-weight: 400;
  color: #F53F00;
  text-decoration: underline;
}
.modal_funcionarios {
  width: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background: white;
  height: 500px;
  border-radius: 12px;
  display: none;
  z-index: 3;
  padding-bottom: 5%;
  flex-direction: column;
  justify-content: space-between;
}
#verificar_senha input {
  height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 20px;
}
.tabela_father tbody i {
  cursor: pointer;
}
.inputs_father_user {
  display: flex;
  flex-direction: column;
}
#add_usuario {
  background: #F53F00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.inputs_father_user input[type="text"] {
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}
.inputs_add_usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #393939;
}

.modal_produtos table thead,.modal_funcionarios table thead {
  background: #F53F00;
  border-radius: 12px 12px 0 0;
  color: white;
  height: 30px;
  display: flex;
}
.modal_produtos .fa-solid.fa-link {
  margin-right: 10px;
}


.jconfirm.jconfirm-my-theme {
  .jconfirm-bg {
    background-color: #242424;
  }
}
.jconfirm.jconfirm-supervan .jconfirm-bg { 
  background-color: #242424 !important;

}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange{
  background-color: #F53F00 !important;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange:hover{
  background-color: #000000 !important;
}
.modal_produtos table,.modal_funcionarios table {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow-y: scroll;
}
.modal_produtos table thead tr,.modal_funcionarios table thead tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.modal_produtos table tbody tr .nome {
  justify-content: start !important;
}
#pre_venda_opener::after{
  content: "F1";
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 2px;
  font-weight: 500;
}
.modal_clientes h3 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.cnpj_selector {
  width: 100px;
  height: 25px;
  background: gray;
  border-radius: 3px;
  position: relative;
}
.selector {
  width: 50px;
  height: 100%;
  background: red;
  border-radius: 3px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  position: absolute;
  right:0;

}
.modal_clientes h3 orange {
  font-weight: 600;
  color: #F53F00;
}
.input_add_cliente_father {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.modal_clientes {
  width: 80%;
  height: 80%;
  position: absolute;
  background: white;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  display: none;
  flex-direction: column;
}
#troca_oleo::after{
  content: "F2";
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 2px;
  font-weight: 500;
}
#produtos_opener::after{
  content: "F3";
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 2px;
  font-weight: 500;
}
#clientes_opener::after{
  content: "F4";
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 2px;
  font-weight: 500;
}
.marked_tr_tabela_produtos {
  background: #000000cf;
  color: white;
}
.modal_produtos table thead tr th,.modal_funcionarios table thead tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.modal_produtos table tbody tr td,.modal_funcionarios table tbody tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.modal_produtos table tbody tr i,.modal_funcionarios table tbody tr i {
  cursor: pointer;
}
.modal_produtos table  tbody tr,.modal_funcionarios table tbody tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid;
}
.inputs_add_produto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.input_pesquisar_produto_father {
  display: flex;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
}
#pesquisar_produto {
  border: none;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
#pesquisar_produto_button {
  width: 50px;
  background: #F53F00;
  color: white;
  border-radius: 0 10px 10px 0;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#add_produto_opener {
  cursor: pointer;
  background: #F53F00;
  color: white;
  border: none;
  height: 25px;
  padding: 0 10px;
  border-radius: 5px;
}
#sidebar #salvar_caixa {
  height: 25px;
  background: #F53F00;
  color: white;
  border: none;
  justify-content: center;
  margin-bottom: 5px;
}
.field input[type="submit"] {
  background: #fdc918;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.field input[type="submit"]:hover {
  background: #ddaf12;
}
.login {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}
.links {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}

.content_login header {
  justify-content: normal;
}
.links i {
  font-size: 17px;
}
i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.signup {
  font-size: 15px;
  color: gray;
  font-family: "Poppins", sans-serif;
}
.signup a {
  color: #fdc918;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
.header_section {
  width: 100%;
  height: 25%;
  background: rgb(217, 217, 217);
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_section .left_side {
  width: 22%;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  border-right: 2px solid #F53F00;
  align-items: flex-end;
  margin-left: 7%;
  padding-right: 10px;
}
header img{
  height: 100%;
  object-fit: contain;
  width: 7%;
  position: absolute;
  background: white;
  left: 0;
  border-right: 2px solid #F53F00;
}
.inputs_header_section {
  margin-top: 10px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.inputs_header_section input {
  height: 35px;
  border: none;
  border-radius: 9px;
  color: gray;
  padding: 0 12px;
}
.header_section .right_side {
  width: 48%;
}
.right_subdivision h3 {
  font-weight: 300;
  font-size: 18px;
}
.header_section .right_side .right_subdivision,
.header_section .right_side .left_subdivision {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}
.right_subdivision red {
  font-size: 17px;
  font-weight: 500;
}
.header_section .left_side section red
{
  font-weight: 500;
}
.right_subdivision span {
  color: black;
}
.left_subdivision {
  align-items: center;
  justify-content: space-between;
}
.left_subdivision span {
  color: black;
  font-size: 15px;
}
.left_subdivision button {
  padding: 10px;
  background: #F53F00;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}
.left_subdivision switch {
  width: 50px;

  height: 20px;
  font-size: 13px;
  background: white;
  border-radius: 10px;
  margin: 0 6px;
  cursor: pointer;
}
.left_subdivision dot {
  width: 20px;
  height: 20px;
  background: #F53F00;
  border-radius: 50%;
}
.left_subdivision h3 {
  font-weight: 300;
  font-size: 18px;
}
.selection_switch span {
  font-size: 12px;
}
.selection_switch {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tabela_header {
  background: #242424;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 0 30px;
  border-radius: 12px 12px 0 0;
  width: 95%;
  margin: 0 2.5%;
}
.tabela_father table thead tr th {
  font-weight: 500;
  width: 20%;
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.tabela_father table thead tr {
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.tabela_header yellow {
  color: #FF4100;
  font-weight: 800;
}
.tabela_header span
{
  font-size: 18px;
  font-weight: 500;
}
.tabela_father {
  margin-top: 20px;
  margin-left: 7.5%;
}
.tabela_header i {
  cursor: pointer;
}
.tabela_father table thead {
  background: #FF4100;
  color: black;
  position: sticky;
  top: 0;
}
.tabela_father table {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 2.5%;
  height: 600px;
  overflow-y: scroll;
}
.tabela_father tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  border-bottom: 1px solid gray;
}
.tabela_father tbody tr td {
  width: 20%;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
.modal_fechar_caixa {
  display: none;
  position: absolute;
  width: 800px;
  background: white;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  flex-direction: column;
  padding: 2% 0;
  z-index: 1;
}
.modal_fechar_caixa h3 {
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.modal_fechar_caixa h3 red {
  font-weight: 500;
}
#salvar_form_fechamento_caixa {
  width: 15%;
  padding: 5px 0;
  font-size: 18px;
  background: #F53F00;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 0 42.5%;
}
.modal_fechar_caixa .first_row .left_side {
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.modal_fechar_caixa .first_row .right_side {
  width: 60%;
  background: rgb(217, 217, 217);
  border-radius: 10px 0 0 10px;
  height: 100px;
  color: gray;
  display: flex;
  justify-content: space-around;
}
.modal_fechar_caixa .first_row .right_side .input_codigo_user_father {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal_fechar_caixa .first_row .right_side .input_nome_user_father {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal_fechar_caixa .first_row .right_side input {
  outline: none;
  height: 40px;
  color: #F53F00;
  padding: 4px;
  font-size: 20px;
}
.modal_fechar_caixa .first_row {
  display: flex;
  margin-top: 30px;
}
.modal_fechar_caixa .first_row .left_side span {
  color: #e60d2e;
  border: 1px solid gray;
  padding: 10px 25px;
}
.modal_fechar_caixa .valores_informados_box {
  width: 90%;
  margin: 30px 5%;
  height: 200px;
  border: 1px solid gray;
  flex-direction: column;
  display: flex;
  border-radius: 12px;
}
.modal_fechar_caixa .valores_informados_box .valores_informados_title {
  background: #F53F00;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: white;
  border-radius: 50px;
  top: -15px;
  position: relative;
  left: 15px;
  width: 250px;
}
.modal_fechar_caixa .valores_informados_box .valores_informados_footer red {
  margin-left: 5px;
}
.modal_fechar_caixa .valores_informados_box .valores_apurados_footer {
  height: 15%;
  position: relative;
  display: flex;
  bottom: -8%;
  background: rgb(253, 201, 24);
  color: white;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  left: 10%;
  border-radius: 7px;
  width: 300px;
}
.modal_fechar_caixa .valores_informados_box .valores_informados_footer {
  height: 15%;
  position: relative;
  display: flex;
  bottom: -21%;
  background: rgb(253, 201, 24);
  color: white;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  left: 55%;
  border-radius: 7px;
  width: 300px;
}
.modal_fechar_caixa .valores_informados_box .body_valores {
  height: 70%;
  display: flex;
}
.column_title{
  font-size: 14px;
  width: 147px;
  color: #525252;
}
.fa-solid.fa-spinner.fa-spin-pulse {
  padding: 0 5px;
  visibility: hidden;
}
.modal_fechar_caixa .valores_informados_box .body_valores .input_princip {
  border-radius: 12px 0 0 12px;
  border: 1px solid gray;
  padding: 0 5px;
  border-right: 0;
  height: 30px;
}
.modal_fechar_caixa
  .valores_informados_box
  .body_valores
  .input_princip_completo_apurados {
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 147px;
    padding: 0 5px;
    text-align: center;
}
.modal_fechar_caixa
  .valores_informados_box
  .body_valores
  .input_princip_completo {
    height: 30px;
    border-radius: 10px;
    width: 70px;
    padding: 0 5px;
    border: none;
    text-align: center;
}
.input_modal_fechamento_column {
  display: flex;
  border: 1px solid gray;
  padding: 0 4px;
  border-radius: 15px;
}
.modal_fechar_caixa .valores_informados_box .first_column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 47%;
  align-items: end;
}
.modal_fechar_caixa .valores_informados_box .first_column .qtd {
  color: gray;
  font-size: 13px;
  margin: 0 13px;
}
.modal_fechar_caixa .valores_informados_box .first_column .quantidade {
  background: rgb(253, 201, 24);
  color: white;
  padding: 0 10px;
  border-radius: 0 12px 12px 0;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 40px;
  border: none;
  align-items: center;
}
.modal_fechar_caixa .body_valores .first_column .input_valores {
  display: flex;
  align-items: center;
}
.modal_fechar_caixa .body_valores .first_column .input_valores label {
  margin-right: 5px;
}
#adiantar_semana {
  visibility: hidden;
}
.lista_pedidos span {
  background: #fa0e0e;
  color: white !important;
  width: 100%;
  display: flex;
  justify-content: center;
}
.lista_pedidos span:hover {
  background: #ff2b2b;
  color: white;
}
.edit_fechamento_button {
  margin: 0 5%;
  color: #F53F00;
  text-decoration: underline;
  cursor: pointer;
}

.modal_criar_loja{
  width: 690px;
  height: 480px;  background: white;
position: absolute;
border-radius: 15px;
display: none;
flex-direction: column;
left: 50%;
top: 50%;
padding: 1%;
transform: translate(-50%, -50%);
}

.modal_criar_loja h3
{
width: 100%;
text-align: center;
font-weight: normal;
font-size: 20px;
margin: 0;
}
.modal_criar_loja h3 red
{
font-weight: 600;
color: #F53F00;
}
.modal_criar_loja section
{
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
margin-top: 25px;
justify-content: center;
}
.modal_criar_loja section .left_side, .modal_criar_loja section .right_side {
  justify-content: flex-start;
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 87%;
}
.modal_criar_loja section .input_father
{
display: flex;
flex-direction: column;
width: 70%;
height: auto;
font-weight: 400;
margin: 10px 0;
}
.modal_criar_loja span
{
font-weight: 500;
border-bottom: 1px solid;
width: 70%;
color: black;
}
.modal_criar_loja section .input_father input
{
height: 30px;
border-radius: 5px;
border: 1px solid gray;
padding: 0 3px ;
}
.modal_criar_loja button
{
background: #F53F00;
border: none;
color: white;
width: 70%;
height: 40px;
border-radius: 5px;
font-size: 15px;
font-weight: 500;
position: absolute;
bottom: 0;
}
@media print{
  header, footer, aside, nav, form, #sidebar, .menu, .hero, .header_section,.chart_father {
    display: none;
    visibility: hidden;
  }
}